$cjk-zilk-primary-palette: (
  50: #e1e7f1,
  100: #b3c2dd,
  200: #8099c6,
  300: #4d70af,
  400: #27529e,
  500: #01338d,
  600: #012e85,
  700: #01277a,
  800: #012070,
  900: #00145d,
  A100: #8e9dff,
  A200: #5b70ff,
  A400: #2844ff,
  A700: #0e2eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* Currently identical to the primary palette above until we get further direction from UX */
$cjk-zilk-secondary-palette: (
    50 : #e1e7f1,
    100 : #b3c2dd,
    200 : #8099c6,
    300 : #4d70af,
    400 : #27529e,
    500 : #01338d,
    600 : #012e85,
    700 : #01277a,
    800 : #012070,
    900 : #00145d,
    A100 : #8e9dff,
    A200 : #5b70ff,
    A400 : #2844ff,
    A700 : #0e2eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



